<a href="https://colab.research.google.com/github/luisotavio2023/TarefasPython/blob/main/ListaEx.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
DolarValor = float(input("Digite o valor que deseja converter: "))
DolarCota = float(input("Digite o valor do dolar comparado ao real: "))

Conv = DolarValor * DolarCota
print("O valor convertido é de " + str(Conv))

Digite o valor que deseja converter: 6
Digite o valor do dolar comparado ao real: 4.90
O valor convertido é de 29.400000000000002

In [ ]:
import math

cateto1 = float(input("Digite o comprimento do primeiro cateto: "))
cateto2 = float(input("Digite o comprimento do segundo cateto: "))

hipotenusa = math.sqrt(cateto1**2 + cateto2**2)

print("A hipotenusa é:", hipotenusa)

Digite o comprimento do primeiro cateto: 4
Digite o comprimento do segundo cateto: 3
A hipotenusa é: 5.0

In [ ]:
valorproduto = float(input("Digite o valor do produto"))

CalculoDesc = valorproduto * (27/100)

print("O valor do produto é de " + str(CalculoDesc))

Digite o valor do produto40
O valor do produto é de 10.8